* {
    margin:0;
    padding:0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
body{
     background:linear-gradient(135deg,#10b3ff, #7a65ff,#00b6fe,#7a65ff,#05e2f1,#ae05f1);
    background-repeat: no-repeat;
    height:100 vh;

    

}
.card{
    width:90%;
    max-width:470px;
    background:linear-gradient(135deg,#10b3ff, #7a65ff,#00b6fe);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding :40px 35 px;
    text-align:center;
    padding: 20px;
    border:2px solid white;

   
}
.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    
}
.search input{
    border:0;
    outline:0;
    background:#ebfffc;
    padding : 10px  25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 10px;
    font-size: 18px;
}
.search button{
    border:0;
    outline:0;
    background: #ebfffc;
    border-radius: 50%;
    width:60px;
    height:60px;
    cursor: pointer;
}
.weather-icon{
    width:200px;
    margin-top: 30px;
    border-radius: 20px;
    

}
.weather h1{
    font-size:  80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}
.col{
    display: flex;
    justify-content: left;
    text-align: left;
    color: #fff;
    font-size: 20px;
}
.details .col img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    
}

.humidity, .wind{
    font-size: 28px;
    margin-top:-6px;
    
}





